/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* General Styles */
:root {
  --primary-background: #161616;
  --primary-button: #dd0000;
  --background: #fff;
  --border-color: #e8e8e8;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  margin: 0 auto;
}

.section-margin {
  margin-bottom: 130px;
}

a {
  text-decoration: none;
  color: #111;
}

button {
  border: none;
}

.link-button a {
  color: #fff;
}

.btn-primary {
  padding: 16px 40px;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}

.link-button {
  background: var(--primary-button);
  transition: background-color 0.5s ease-in-out;
}
.link-button-icon {
  margin-left: 15px;
  position: absolute;
  animation: sliding 1s ease-in-out 0.2s infinite alternate;
}

.link-button:hover {
  background-color: #ff1e1eb6;
}

@keyframes sliding {
  from {
    margin-left: 15px;
  }
  to {
    margin-left: 30px;
  }
}

/* Hero section Styles */
.hero-section {
  background-color: var(--primary-background);
  border-radius: 30px;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  height: 400px;
  margin-top: 30px;
}

.hero-content {
  margin-left: 100px;
}

.hero-content h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 16px;
}

.hero-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
  section {
    margin-bottom: 25px;
  }
  main {
    width: 95%;
  }
  .hero-section {
    grid-template-columns: repeat(1, 1fr);
    border-radius: 5px;
    height: 100%;
  }
  .hero-content {
    margin: 28px 53px;
    text-align: center;
  }
  .hero-content h1 {
    font-size: 22px;
    line-height: 33px;
  }
  .hero-content p {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  main {
    width: 95%;
  }
  .hero-section {
    height: 100%;
  }
  .hero-content {
    margin: 20px;
  }
  .hero-content h1 {
    font-size: 22px;
    line-height: 33px;
  }
  .hero-content p {
    font-size: 14px;
    line-height: 24px;
  }
}

/* Blog Section Styles */

.main-blogs {
  display: grid;
  grid-template-columns: 350px auto;
}

.side-nav-items {
  width: 313px;
  height: 313px;
  background-color: var(--primary-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.nav-button {
  width: 252px;
  height: 64px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  color: var(--primary-background);
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .main-blogs {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .side-nav-items {
    margin-bottom: 25px;
    background: #fff;
  }
  .nav-button {
    border: 1px solid var(--border-color);
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .main-blogs {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .side-nav-items {
    flex-direction: row;
    width: 0;
    height: 0;
    margin-bottom: 100px;
    background: transparent;
  }
  .nav-button {
    width: 220px;
    height: 65px;
    border: 1px solid var(--border-color);
    margin-right: 20px;
  }
}

/* blog card styles */
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.blog {
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.blog-image {
  margin-bottom: 20px;
}

.blog-image img {
  width: 100%;
}

.blog-content {
  padding: 20px;
}

.blog-button {
  border-radius: 5px;
  padding: 8px 25px;
  background: #fff;
  border: 1px solid var(--primary-background);
  margin-bottom: 20px;
  cursor: pointer;
}

.blog-content p {
  margin-bottom: 20px;
  font-weight: 600;
}

.fa-regular {
  margin-right: 5px;
}

.icon {
  margin-left: 30px;
}

@media screen and (max-width: 576px) {
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet View All Button */
.tablet-view-all-button {
  text-align: center;
}

@media screen and (max-width: 576px) {
  .tablet-view-all-button {
    display: none;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .tablet-view-all-button {
    display: block;
  }
}

@media screen and (min-width: 993px) {
  .tablet-view-all-button {
    display: none;
  }
}

/* Footer Styles */
.footer {
  background: var(--primary-background);
  min-height: 345px;
}

.footer__heading {
  color: #fff;
  margin: 0 auto 20px;
  width: 80%;
  height: 150px;
  padding-top: 100px;
  text-align: center;
  border-bottom: 1px solid #777;
  cursor: pointer;
}

.footer__items {
  color: #b9b9b9;
  cursor: pointer;
  transition: color 0.3s;
  margin-bottom: 10px;
}

.footer__item:hover {
  color: white;
}

.footer__item {
  padding: 20px;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .footer__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer__item {
    min-width: 150px;
  }
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 20px;
}

.social-icon {
  color: grey;
  margin-left: 30px;
  transition: color 0.3s;
}
.social-icon:hover {
  color: white;
}
